.env
# Ballon d'Or Predictor
# This file specifies intentionally untracked files to ignore when using Git.
# For more information, see https://git-scm.com/docs/gitignore.

# Dependencies
node_modules/
.pnp/
.pnp.js

# Testing
/coverage

# Production
/build

# Misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj   
./env
.env.local
.env.development.local
.env
.env.test.local
.env.production.local
__pycache__/
*.pyc
*.pyo
*.pyd
./venv/
.venv
./venv
# Ignore the Python virtual environment directory
venv/
# Or if you named it something else, e.g., .venv
.venv/ 
